<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Inicio - Minashi</title>
</head>

<body class="relative min-h-screen overflow-hidden bg-gray-50 overflow-y-auto flex flex-col min-h-screen">
    <main class="flex-grow">
        <div class="relative bg-[#DDDAD0] shadow-xl ring-1 ring-gray-900/5">
            <nav class="px-4 py-4 sm:flex sm:items-center sm:justify-between">
                <section class="flex justify-between">
                    <img src="/img/logo.svg" class="h-6" alt="Mineria" />
                    <button class="text-gray-700 sm:hidden">
                        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100"
                            height="100" viewBox="0 0 50 50">
                            <path
                                d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z">
                            </path>
                        </svg>
                    </button>
                </section>
                <div class="flex flex-col items-start mt-3 gap-2 sm:flex-row sm:m-0">
                    <a href="{{ url_for('venta_minerales.comprar_minerales') }}"
                        class="text-gray-600 hover:bg-gray-200 w-full text-left px-2 rounded hover:text-gray-900">
                        Comprar Minerales
                    </a>
                    <a href="#"
                        class="text-gray-600 hover:bg-gray-200 w-full text-left px-2 rounded hover:text-gray-900">
                        Operaciones
                    </a>

                </div>
                {% if user == false %}
                    <div class="flex flex-col items-start mt-3 gap-2 sm:flex-row sm:m-0">
                        <a href="{{ url_for('login') }}" class=" text-gray-600 hover:bg-gray-200 w-full text-left px-2 rounded
                        hover:text-gray-900 bg-[#F8F2CE] sm:mx-auto sm:w-auto sm:px-4 sm:py-2">
                            <button>Iniciar sesion</button></a>

                        <a href="{{url_for('register')}}" class=" text-gray-600 hover:bg-gray-200 w-full text-left px-2 rounded
                        hover:text-gray-900 bg-[#F8F2CE] sm:mx-auto sm:w-auto sm:px-4 sm:py-2"><button>
                                Registrarse</button></a>
                    </div>
                {% else %}
                    <div>
                        <span>Usuario: {{ current_user.username }}</span>
                    </div>
                {% endif %}
            </nav>
        </div>

        <section class="w-full h-[80vh] bg-cover bg-center relative"
            style="background-image: url('{{ url_for('static', filename='assets/landing_back.png') }}');">

            <div class="absolute inset-0 bg-black/60 z-0"></div>

            <div class="relative z-10 flex flex-col justify-center pl-22 h-full text-white">
                <h2 class="py-6 text-4xl font-bold">Acerca de nosotros</h2>
                <p class="p-6 py-6 max-w-2xl text-preety text-xl">
                    En nuestra empresa de minería nos dedicamos con compromiso y pasión
                    a la extracción responsable de minerales esenciales para el desarrollo de
                    la industria y la vida cotidiana. Creemos firmemente en la innovación, la
                    sostenibilidad y el respeto por el medio ambiente, aplicando tecnologías
                    modernas que nos permiten optimizar procesos y reducir el impacto
                    ambiental. Nuestro equipo está conformado por profesionales altamente
                    capacitados que garantizan calidad, seguridad y eficiencia en cada etapa
                    de trabajo. Más que una empresa minera, somos un socio estratégico que
                    impulsa el crecimiento y el progreso de la comunidad.
                </p>
            </div>
        </section>

        <section class="flex flex-col items-center mt-10">
            <div>
                <h2 class="text-2xl my-5">Operaciones</h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 ">
                <div
                    class="w-85 h-70 m-10 my-5 text-center border-2 p-4 rounded-2xl overflow-hidden shadow-lg bg-white">
                    <img src="/imagenes/images.jpeg" alt="veladero" class="w-full h-auto  rounded-t-2xl">
                    <h2 class="text-2xl font-semibold mt-2">Veladero</h2>
                    <h6 class="text-gray-600">Argentina</h6>
                </div>
                <div
                    class="w-85 h-70 m-10 my-5 text-center border-2 p-4 rounded-2xl overflow-hidden shadow-lg bg-white">
                    <img src="/imagenes/images.jpeg" alt="veladero" class="w-full h-auto  rounded-t-2xl">
                    <h2 class="text-2xl font-semibold mt-2">Veladero</h2>
                    <h6 class="text-gray-600">Argentina</h6>
                </div>
                <div
                    class="w-85 h-70 m-10 my-5 text-center border-2 p-4 rounded-2xl overflow-hidden shadow-lg bg-white">
                    <img src="/imagenes/images.jpeg" alt="veladero" class="w-full h-auto  rounded-t-2xl">
                    <h2 class="text-2xl font-semibold mt-2">Veladero</h2>
                    <h6 class="text-gray-600">Argentina</h6>
                </div>
                <div
                    class="w-85 h-70 m-10 my-5 text-center border-2 p-4 rounded-2xl overflow-hidden shadow-lg bg-white">
                    <img src="/imagenes/images.jpeg" alt="veladero" class="w-full h-auto  rounded-t-2xl">
                    <h2 class="text-2xl font-semibold mt-2">Veladero</h2>
                    <h6 class="text-gray-600">Argentina</h6>
                </div>
                <div
                    class="w-85 h-70 m-10 my-5 text-center border-2 p-4 rounded-2xl overflow-hidden shadow-lg bg-white">
                    <img src="/imagenes/images.jpeg" alt="veladero" class="w-full h-auto  rounded-t-2xl">
                    <h2 class="text-2xl font-semibold mt-2">Veladero</h2>
                    <h6 class="text-gray-600">Argentina</h6>
                </div>
                <div
                    class="w-85 h-70 mx-10 my-5 text-center border-2 p-4 rounded-2xl overflow-hidden shadow-lg bg-white">
                    <img src="/imagenes/images.jpeg" alt="veladero" class="w-full h-auto  rounded-t-2xl">
                    <h2 class="text-2xl font-semibold mt-2">Veladero</h2>
                    <h6 class="text-gray-600">Argentina</h6>
                </div>
            </div>



        </section>


    </main>
    <footer class="bg-[#DDDAD0] mt-10">
        <div class="max-w-7xl mx-auto px-4 py-6 flex flex-col sm:flex-row justify-between items-center text-gray-700">
            <div class="mb-4 sm:mb-0 text-center sm:text-left">
                <p class="font-semibold">© 2025 Minashi S.A.</p>
                <p class="text-sm text-gray-600">Todos los derechos reservados.</p>
            </div>

            <div class="flex space-x-4">
                <a href="#" class="hover:text-gray-900 transition-colors">Política de privacidad</a>
                <a href="#" class="hover:text-gray-900 transition-colors">Términos de uso</a>
                <a href="#" class="hover:text-gray-900 transition-colors">Contacto</a>
            </div>
        </div>
    </footer>

</body>

</html>