<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Iniciar Sesión</title>
</head>

<body class="relative min-h-screen overflow-hidden bg-gray-50 overflow-y-auto flex flex-col min-h-screen">
    <header>
        <div class="relative bg-[#DDDAD0] shadow-xl ring-1 ring-gray-900/5">
            {% include '_navbar.html' %}
        </div>
    </header>
    <main class="flex-grow">
        <section class="mt-10 text-center rounded-md border-1 w-full max-w-100 mx-auto p-10 bg-[#DDDAD0]">
            <h1 class="text-3xl font-bold mt-5 ">Iniciar Sesión</h1>
            <form method="POST" action="{{ url_for('login') }}" class=" flex flex-col gap-4 text-left">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" placeholder="Ingresar usuario" required
                    class="border-2 bg-[#F8F2CE] rounded-md p-2">
                <br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingresar contraseña" required
                    class="border-2 bg-[#F8F2CE] rounded-md p-2">
                <br>
                <button class="border rounded-2xl px-4 py-2 bg-[#F8F2CE] hover:bg-[#a9a598] transition mx-auto w-auto "
                    type="submit">Iniciar Sesión</button>
            </form>
            <hr class=" my-4">
            <p>¿No tenés cuenta? <a href="{{ url_for('register') }}">Registrate</a></p>
            <a href="{{ url_for('auth.login') }}">Login con Google</a>
        </section>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}



    </main>



    <footer class="bg-[#DDDAD0]">
        <div class="max-w-7xl mx-auto px-4 py-6 flex flex-col sm:flex-row justify-between items-center text-gray-700">
            <div class="mb-4 sm:mb-0 text-center sm:text-left">
                <p class="font-semibold">© 2025 Minashi S.A.</p>
                <p class="text-sm text-gray-600">Todos los derechos reservados.</p>
            </div>

            <div class="flex space-x-4">
                <a href="#" class="hover:text-gray-900 transition-colors">Política de privacidad</a>
                <a href="#" class="hover:text-gray-900 transition-colors">Términos de uso</a>
                <a href="#" class="hover:text-gray-900 transition-colors">Contacto</a>
            </div>
        </div>
    </footer>
</body>

</html>