<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Registrarse - Minashi</title>
</head>

<body class="relative min-h-screen overflow-hidden bg-gray-50 overflow-y-auto flex flex-col min-h-screen">
    <header>

        <div class="relative bg-[#DDDAD0] shadow-xl ring-1 ring-gray-900/5">
            {% include '_navbar.html' %}
        </div>
    </header>

    <main class="flex-grow">
        <section
            class="mt-10 text-center rounded-md shadow-md rounded-lg w-full max-w-100 mx-auto p-10 bg-[#DDDAD0] border border-gray-300">
            <h1 class="text-3xl font-bold mt-5 ">Registro</h1>
            <form method="POST" action="{{ url_for('register') }}" class=" flex flex-col gap-4 text-left">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Ingresar username" required
                    class="border-gray-600 bg-white rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-black placeholder-gray-400">

                <label for="mail">Email:</label>
                <input type="email" name="mail" id="mail" placeholder="ingresar email" required
                    class="border-gray-600 bg-white rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-black placeholder-gray-400">

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Ingresar contraseña" required
                    class="border-gray-600 bg-white rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-black placeholder-gray-400">

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña"
                    required
                    class="border-gray-600 bg-white rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-black placeholder-gray-400">

                <button type="submit"
                    class="border rounded-2xl px-4 py-2 bg-[#F8F2CE] hover:bg-[#a9a598] transition mx-auto w-auto mt-5">Registrarse</button>

            </form>
            <hr class=" my-4">
            <p>¿Ya tenés cuenta? <a href="{{ url_for('login') }}">Ingresa</a></p>
        </section>

    </main>



    <footer class="bg-[#DDDAD0]">
        <div class="max-w-7xl mx-auto px-4 py-6 flex flex-col sm:flex-row justify-between items-center text-gray-700">
            <div class="mb-4 sm:mb-0 text-center sm:text-left">
                <p class="font-semibold">© 2025 Minashi S.A.</p>
                <p class="text-sm text-gray-600">Todos los derechos reservados.</p>
            </div>

            <div class="flex space-x-4">
                <a href="#" class="hover:text-gray-900 transition-colors">Política de privacidad</a>
                <a href="#" class="hover:text-gray-900 transition-colors">Términos de uso</a>
                <a href="#" class="hover:text-gray-900 transition-colors">Contacto</a>
            </div>
        </div>
    </footer>

    <script>
        const boton_nav = document.getElementById('boton_nav');
        const nav_links = document.getElementById('nav_links');

        boton_nav.addEventListener('click', () => {
            nav_links.classList.toggle('hidden');
        });

    </script>
</body>

</html>