<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock de Minerales</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <header class="flex justify-between items-center p-4 bg-[#212832] text-white fixed w-full top-0 z-40">
        <div class="flex">

            <button id="boton_aside" class="lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <a href="/" class="ml-3">
                <img src="{{ url_for('static', filename='assets/pico.png') }}" alt="LOGO" class="h-8 inline invert"/>
                <span class="font-bold text-lg align-middle ml-2">Minashi</span>
            </a>
        </div>

        <div class="hover:bg-[#E6425A]/50 p-2 rounded bg-[#E6425A]">


            <a href="{{ url_for('logout')}}" class=""><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>Cerrar Sesión</a>
        </div>
    </header>
    <main class="flex relative top-16 left-0 right-0 bottom-0 bg-gray-100 pt-8 lg:pt-10 overflow-y-auto min-h-screen">

        


        <div id="overlay"
            class="hidden bg-gray-600/50 min-h-screen w-full fixed top-0 left-0 right-0 backdrop-blur-sm lg:hidden">
        </div>

        <div id="menu_aside"
            class="bg-[#212832] min-h-screen w-80 lg:w-60 fixed top-0 lg:top-19 left-0 transform -translate-x-full transition-transform duration-300 text-white lg:translate-x-0 z-50">
            <div class="py-4 px-4 flex justify-between items-center pb-3 lg:hidden">
                <button id="cerrar_aside">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
                <div>
                    <a href="#"><img src="" alt="LOGO"></a>
                </div>
            </div>

            <div class="text-center p-4 border-b-2 border-gray-600 text-black text-lg">
                <a href="{{ url_for('profile_bp.perfil') }}"
                    class="flex  bg-white items-center gap-2 px-3 py-1 rounded-full hover:bg-white/50 transition duration-200 border border-transparent hover:border-gray-300">

                    {% if current_user.url %}
                    <img src="{{ current_user.url }}" alt="Avatar"
                        class="w-8 h-8 rounded-full object-cover border border-gray-600 shadow-sm">
                    {% else %}
                    <div
                        class="w-8 h-8 rounded-full bg-white flex items-center justify-center text-gray-800 font-bold border border-gray-600 shadow-sm text-sm">
                        {{ current_user.username[0]|upper }}
                    </div>
                    {% endif %}

                    <span class="font-semibold text-gray-800 text-sm">{{ current_user.username }}</span>
                </a>
            </div>

            <div class="flex flex-col text-lg">

                <a href="{{ url_for('registro_minerales.registrar_minerales') }}"
                    class="text-center hover:bg-gray-200/50 border-b-2 border-gray-600 py-3">Registrar Mineral</a>


                <a href="{{ url_for('registro_minerales.ver_stock') }}"
                    class=" text-center hover:bg-gray-200/50 border-b-2 border-gray-600 py-3">Ver Stock</a>

                <a href="{{ url_for('registro_minerales.usuarios') }}"
                    class="text-center hover:bg-gray-200/50  border-gray-600 py-3">Gestionar Usuarios</a>
            </div>
        </div>


        <section class="mx-auto overflow-x-auto p-4 w-full max-w-5xl mt-24 lg:ml-70 transition-all duration-300">
            <h1 class="text-2xl font-bold mb-6 text-center">Stock de Minerales</h1>

            <div class="m-4">
                <a href="{{ url_for('registro_minerales.exportar_csv', page='minerales') }}"
                    class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">
                    Exportar CSV
                </a>                
            </div>


            {% if minerales %}
            <table class="w-full text-left rtl:text-right border border-gray-300 rounded-lg overflow-hidden shadow-md">
                <thead class="uppercase bg-gray-700 text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Mineral</th>
                        <th scope="col" class="px-6 py-3">Precio ({{ currency }})</th>
                        <th scope="col" class="px-6 py-3">Descripcion</th>
                        <th scope="col" class="px-6 py-3">Stock</th>
                        <th scope="col" class="px-6 py-3">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mineral in minerales %}
                    <tr class="border-b whitespace-nowrap odd:bg-white even:bg-gray-200">
                        <td class="px-6 py-4">{{ mineral.id}}</td>
                        <td class="px-6 py-4">{{ mineral.name}}</td>
                        <td class="px-6 py-4">{{ mineral.price}}</td>
                        <td class="px-6 py-4">{{ mineral.description}}</td>
                        <td class="px-6 py-4">{{ mineral.stock}}</td>
                        <td class="px-6 py-4 space-x-2">
                            {% if mineral.es_base %}
                            <a href="{{ url_for('registro_minerales.editar_mineral', nombre=mineral.name) }}"
                                class="text-blue-600 hover:underline">Editar</a>

                            <form method="POST"
                                action="{{ url_for('registro_minerales.eliminar_mineral', nombre=mineral.name) }}"
                                class="inline">
                                <button type="submit" title="Eliminar {{ mineral.name }}"
                                    class="text-red-600 hover:underline">
                                    Eliminar
                                </button>
                            </form>
                            {% else %}
                            <span class="text-gray-500">No disponible</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center mt-10 text-gray-600">No hay minerales registrados.</p>
            {% endif %}
        </section>
    </main>

    <script>
        const botonAside = document.getElementById('boton_aside');
        const cerrarAside = document.getElementById('cerrar_aside');
        const menuAside = document.getElementById('menu_aside');
        const overlay = document.getElementById('overlay');


        botonAside.addEventListener('click', () => {
            menuAside.classList.remove('-translate-x-full');
            overlay.classList.remove('hidden');
        });

        cerrarAside.addEventListener('click', () => {
            menuAside.classList.add('-translate-x-full');
            overlay.classList.add('hidden');
        });


        overlay.addEventListener('click', () => {
            menuAside.classList.add('-translate-x-full');
            overlay.classList.add('hidden');
        });

    </script>

</body>

</html>